<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="StartHour" value="07"/>
        <add key="StartMinute" value="50"/>

        <add key="FirstHour" value="09"/>
        <add key="FirstMinute" value="20"/>

        <add key="SecondHour" value="11"/>
        <add key="SecondMinute" value="05"/>

        <add key="ThirdHour" value="12"/>
        <add key="ThirdMinute" value="50"/>

        <add key="FourthHour" value="15"/>
        <add key="FourthMinute" value="05"/>

    </appSettings>
</configuration>
